# Secrets
.env
*/.env
**/.env

# Node
node_modules/
dist/
dist-ssr/

# Python
__pycache__/
*.pyc
venv/
.venv/

# Build outputs
.output/
.wrangler/
.tanstack/**
.nitro/

# OS/Editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
